/*****GENERAL STYLES*****/
* {
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	background-color: #413C48;
	color: rgb(255, 240, 245);
	line-height: auto;
}

/*****LAYOUT STYLES*****/
header {
	width: 75vw;
	margin: 25px auto;
	/*background-color: blue;*/
}
main {
	width: 75vw;
	margin: 25px auto;
	display: flow-root;
}
.col {
	width: 50%; /*makes the divs half as wide as the parent elements -- so half of main 75vw*/
	float: left;
}

/*****TYPE STYLES*****/
h1 {
	color: rgb(255, 240, 245);
	font-size: 100px;
	line-height: 1;
	font-family: "Josefin Sans", sans-serif;
}
h2 {
	color: rgb(232,126,161);
	font-size: 50px;
	font-family: "Josefin Sans", sans-serif;
}
ul {
	font-family: "Josefin Sans", sans-serif;
	line-height: 2;
}

/*****PSEUDO-CLASSES*****/
a {
	text-decoration: none;
	color: rgb(255, 240, 245);
}
a:visited {
	color: rgb(255, 240, 245);
}
a:hover {
	color: rgb(232,126,161);
}

@media screen and (max-width: 1000px) {
	.col {
		width: 100%;
	}
}