h1{
	color: rgb(1,73,92);
	font-family: sans-serif;
}

#author-name{
	color: rgb(1,73,92);
}

h2{
	color: rgb(0,149,186);
	font-family: sans-serif;
}

h3{
	color: rgb(0,149,186);
	font-family: sans-serif;
}

body{
	background-color: rgb(209,246,255);
	color: rgb(1,43,54);
	font-size: 20px;
	font-family: sans-serif;
}
