h1{
	color: rgb(1,73,92);
	font-family: sans-serif;
	text-align: center;
}

#author-name{
	color: rgb(1,73,92);
}

h2{
	color: rgb(0,149,186);
	font-family: sans-serif;
}

h3{
	color: rgb(0,149,186);
	font-family: sans-serif;
}

p{
	text-indent: 60px;
}

body{
	background-color: rgb(209,246,255);
	color: rgb(1,43,54);
	font-size:20px;
	line-height: 1.4;
	font-family: sans-serif;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 75px;
	margin-bottom: 100px;
}

/*pseudo-classes*/
a {
	text-decoration: none;
}

a:visited {
	color: magenta;
}

a:link {
	color: tomato;
}

a:hover {
	color: whitesmoke;
	border-bottom: 20px;
	font-family: fantasy;
	font-size: 100px;
}

a:active { /*"I am being clicked at this moment."*/
	color: yellow;
}