/*****general styles*****/
* {
	box-sizing: border-box;
}
body {
	margin:-10px;
	background-color: #70163C;
}

/*****P1 layout styles*****/
.square {
	width: 10vw;
	height: 14vw;
	background-color: #2E0F15;
	border: 2vw solid tomato;
	rotate: 45deg;
	float: left;
}

/*****P2 layout styles*****/

/*****P3 layout styles*****/

/*****P4 layout styles*****/
