.shade {
	width: 125px;
	height: 0;
	border-bottom: 200px solid yellow;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	position: absolute;
	top: 50px;
	left: 50px;
	border-radius: ;
}
.neck {
	width: 15px;
	height: 25px;
	position: absolute;
	top: 250px;
	left: 180px;
	background-color: blue;
}
.base {
	width: 100px;
	height: 200px;
	position: absolute;
	top: 275px;
	left: 135px;
	border-radius: 15px 15px 0 0;
	background-color: red;
}
.pull-string {
	width: 5px;
	height: 15px;
	position: absolute;
	bottom: -215px;
	left: 100px;
	background-color: purple;

}
.pull-circle {
	width: 10px;
	height: 10px;
	position: absolute;
	border-radius: 50%;
	top: 10px;
	left: -2px;
	background-color: purple;
}