/*****GENERAL STYLES*****/
* {
	box-sizing: border-box;
}
body {
	background-color: black;
}

/*****LAYOUT STYLES*****/
header {
	width: 87vw;
	margin: 25px auto;
}
main {
	width: 87vw;
	margin: 25px auto;
	display: flow-root; /*extends this container to include the floated divs*/
}
.img {
	max-width: 100%;
	max-height: 540px;
	margin-bottom: 50px;
}
.mobileScroll {
	max-width: 100%;
	max-height: 540px;
	overflow: scroll;
	margin-bottom: 50px;
}
.desktopImg {
	max-width: 100%;
	max-height: 1099;
	margin-bottom: 50px;
}
.desktopScroll {
	max-width: 100%;
	max-height: 1099px;
	overflow: scroll;
	margin-bottom: 50px;
}


/*****TEXT STYLES*****/
h1 { /*P2.3: Mobile Designs Round 1, etc.*/
	color: #FFFFF0;
	font-family: "Josefin Sans", sans-serif;
  	font-weight: 700;
	font-size: 100px;
	margin-bottom: 0px;
	text-align: left;
}
#home { /*h1 id for P4 homepage*/
	text-align: center;
}
.name { /*h3 Nancy Jamison*/
	color: #FFFFF0;
	font-family: "Josefin Sans", sans-serif;
  	font-weight: 400;
	font-size: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: left;
}
h3 { /*1st Mobile Designs, etc.*/
	color: #FFD97C;
	font-family: "Josefin Sans", sans-serif;
  	font-weight: 400;
	font-size: 50px;
	margin-top: 100px;
	margin-bottom: 0px;
	text-align: left;
}
h4 { /*Landmarks & Museums, etc.*/
	color: #FFFFF0;
	font-family: "Josefin Sans", sans-serif;
  	font-weight: 400;
	font-size: 35px;
	margin-bottom: 20px;
	text-align: left;
}
ul { /*P2 Homepaage liist*/
	color: #FFFFF0;
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	line-height: 2;
}

/*****PSEUDO-CLASSES*****/
a {
	text-decoration: none;
	color: rgb(255, 240, 245);
}
a:visited {
	color: rgb(255, 240, 245);
}
a:hover {
	color: rgb(232,126,161);
}